# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*.iml
*.ipr
*.iws
.idea/
.dart_tool/
.packages
.project
.settings/
.vscode/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/engine.xcconfig
ios/Flutter/pod_runner.xcconfig
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/key.properties
android/local.properties
android/.gradle/
android/gradlew
android/gradlew.bat

# Dart
pubspec.lock
/doc/api/
/packages/

